@import url('../drone/drone.component.css');

table {
  margin: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 35%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

select{
  margin-left: 10px;
}

*{
  font-family: Arial, Helvetica, sans-serif;
}
